/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .gallery {
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .gallery img {
        cursor: pointer;
        object-fit: cover;
        aspect-ratio: 2 / 1;
    }

    nav {
        margin: 0 0 3rem 0;
    }

    main,
    nav {
        padding: 0 2rem;
    }

    header {
        margin: 0;
    }

    .bio {
        display: flex;
        flex-direction: column;
    }

    .bio_text {
        color: var(--text-primary);
        margin: 0;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        min-width: 100vw;
        font-size: 1rem !important;
    }

    .bio_text p {
        margin-bottom: 1rem;
    }

    .hamburger-menu {
        display: flex;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar .nav-links {
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        justify-content: space-around;
    }

    .sidebar .nav-links a {
        padding-left: 0;
    }

    .nav-links {
        display: none;
    }

    body {
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 85vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hamburger-menu {
        display: flex;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar .nav-links {
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        justify-content: space-around;
    }

    .sidebar .nav-links a {
        padding-left: 0;
    }

    .nav-links {
        display: none;
    }

    body {
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 85vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar .nav-links {
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        justify-content: space-around;
    }

    .sidebar .nav-links a {
        padding-left: 0;
    }

    .nav-links {
        display: none;
    }

    body {
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 85vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hamburger-menu {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .sidebar .nav-links {
        display: none;
    }

    .nav-links {
        display: flex;
    }

    .title {
        font-size: 5rem !important;
    }

    body {
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hamburger-menu {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .sidebar .nav-links {
        display: none;
    }

    .nav-links span {
        display: flex;
        font-size: 2rem !important;
    }

    .title {
        font-size: 5rem !important;
    }

    body {
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}